* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(65, 3, 34);
}

h1 {
  text-align: center;
  color: white;
}

input,
button {
  padding: .5rem 2rem;
}

input {
  border: none;
  background: transparent;
  border-bottom: green 1px solid;
  border-top: green 1px solid;
  color: white;


}

.inputAndButton {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.inputAndButton button {
  background: transparent;
  color: white;
  border: none;
  border: 1px solid red;

}

.addedItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: rgba(255, 192, 203, 0.244);
  color: black;
  justify-content: center;
  padding: .5rem;
  width: 100vw;
  color: white;
}


.addedItem button {
  background: red;
  color: white;
  float: right;
  width: 10%;
}


.addedItem h2 {
  text-align: center;
  width: 90%;
  text-align: justify;
}

body {
  background: linear-gradient(-45deg, purple, pink, rgba(255, 0, 0, 0.35),green);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}